{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Привет, я Иван</h1>
    <p>
      Я бы разместил информацию о себе, используя свои умения верстать, но верстка мне дается крайне тяжело.
      <br>Картинки, блоки, элементы бустрап - все это мне соверешнно не зашло.
    </p>
    <p>
      <q>But I'm trying, Ringo. I'm trying real hard...</q> Pulp Fiction&copy;
    </p>
    <p>А может быть, просто напишу несколько абзацев текста.</p>
  </div>
{% endblock %} 