{% extends 'base.html' %}
{% block title %}Подтверждение восстановления пароля{% endblock %}
{% block content %}
  {% if validlink %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Восстановление пароля
          </div>
          <div class="card-body">
            Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.
            {% include 'includes/form_errors.html' %}
            <form method="post"
              {% if action_url %}
                action="{% url action_url %}"
              {% endif %}
            >
              {% include 'includes/form_fields.html' %}
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Изменить мой пароль
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">Ошибка</div>
          <div class="card-body">
            <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}